
 <ul class="ul"> 

      <li class="li">
        <a class="a" routerLink="/accommodation">Accommodation</a>
      </li>
      <li class="li">
        <a class="a" routerLink="/registration">Registration</a>
      </li>
      <li class="li">
        <a class="a" routerLink="/login">Login</a>
      </li>

       <li class="li">
        <a class="a" style="text-decoration: underline; font-weight: bold; color: #A5F883" routerLink="/accommodation">Booking.com</a>
      </li>
     
    </ul>
    <hr class="style18">