<div class="divbody">

<!--The content below is only a placeholder and can be replaced.-->

<div class="container color-dark">
  <div class="col">
    <h2>Add new agent</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to add new agent.</p>

    <form>

      <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter first name..." name="name" required="required">
      </div>

      <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter last name..." name="last" required="required">
      </div>

      <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter email..." name="email" required="required">
      </div>

      <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter address..." name="address" required="required">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="pmb" placeholder="Enter pmb..." required="required">
      </div>

      <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter code..." name="code" required="required">
      </div>

      <div class="form-group">
        <input type="submit" class="btn" value="Submit">

      </div>
    </form>
  </div>
  
</div>





</div>
