<div class="divbody">

<!--The content below is only a placeholder and can be replaced.-->

<div class="container color-dark">
  <div class="col">
    <h2>Availability</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to log in to your account.</p>

    <form>

      <div class="form-group">
          <input type="date" class="form-control" placeholder="Enter date1..." name="dateStart" required="required">
      </div>

      <div class="form-group">
        <input type="date" class="form-control" name="dateEnd" placeholder="Enter date2..." required="required">
      </div>


      <div class="form-group">
        <input type="submit" class="btn" value="Submit">

      </div>
    </form>
  </div>
  
</div>





</div>
